numpy>=1.24.0
PyAudio>=0.2.13
faster-whisper>=0.9.0
torch>=2.0.0  # Wird für CUDA-Unterstützung benötigt
ctranslate2>=3.22.0  # Wird von faster-whisper benötigt
ffmpeg-python>=0.2.0  # Wird für Audio-Verarbeitung benötigt
setuptools>=65.5.1  # Wird für einige Abhängigkeiten benötigt 